@import url("./tileStyling.css");
@layer default {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: system-ui;
        font-weight: bold;
    }

    body {
        --body-color: rgb(100,100,100);
        background-color: var(--body-color);
        width: 100vw;
        height: 100svh;
        height: 100vh;
    }

    .game-wrapper {
        background-color: rgb(255, 255, 255, .3);
        display: flex;
        width: 100%;
        height: 100%;
    }

    .action-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        place-items: center;
        width: 300px;
    }

    .start-button {
        width: 100%;
        height: 2em;
    }

    input, button {
        height: 100%;
        padding: .2em;
    }

    input[type="number"] {
        width: 10ch;
    }

    .action-bar label {
        display: flex;
        justify-content: space-between;
    }
    
    .game-settings {
        width: 100%;
        display: grid;
        grid-column: repeat(2, 1fr);
        row-gap: .5em;
    }

    .map {
        --width: 5;
        --height: 5;
        --map-border-color: black;
        display: grid;
        --mapHeight: 0;
        --mapWidth: 0;
        --columns-size: min(
            calc(var(--mapHeight) / var(--height) * .9px), 
            calc(var(--mapWidth) / var(--width) * .9px));
        
        grid-template-rows: repeat(var(--height), var(--columns-size));
        grid-template-columns: repeat(var(--width), var(--columns-size));
        grid-auto-flow: column;
        box-shadow: inset 0 0 2px 5px var(--map-border-color);
        background-color: var(--map-border-color);
        width: 100%;
        height: 100%;
    }

    .tile {
        --default: gray;
        --active: lightgray;
        position: relative;
        background-color: var(--default);
        outline: 1px solid var(--map-border-color);
        outline-offset: -1px;
    }

    .tile:hover, .tile.opened {
        background-color: var(--active);
    }

    .tile::before {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        content: attr(data-value);
    }

    .tile.flaged {
        --flaged-background: red;
        background: var(--flaged-background);
    }

    .json-string {
        overflow: hidden;
        width: 100%;
    }

    @media only screen and (orientation: portrait) {

        .game-wrapper {
            flex-flow: column;
        }

        .action-bar {
            flex-flow: row;
            justify-content: space-between;
            width: 100%;
        }

        .game-settings {
            flex-flow: row;
            width: max-content;
        }

        .game-settings label {
            width: max(max-content, 100%);
        }

        .start-button {
            width: fit-content;
            height: 100%;
        }

        .game-inf {
            width: 250px;
        }

        .game-inf pre {
            display: none;
        }
    }
}